doctype html
html

  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")

  body
    .container
      form(action="/login" method="post")
        h1 Please sign in


        .form-group
          label(for="email") Email
          input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)
        .form-group
          label(for="password") Password
          input.form-control(type="password" id="password" name="password" required)

        button.btn.btn-lg.btn-primary.btn-block(type="submit") Login

    script.
      window.fbAsyncInit = function() {
      FB.init({
      appId      : 'your-app-id',
      xfbml      : true,
      version    : 'v2.5'
      });
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));