{% extends 'layout.html' %}

{% block title %}User List{% endblock %}

{% block content %}
  <h1>User List</h1>
  <p>You have <strong>{{ user.length }}</strong> Todo Items!</p>
  <p><a href="/new">User Create</a></p>
  <ul class="users-list">
    {% for user in users %}
      <li>
        <strong>{{ user.name }}</strong>
        <a href="/user/{{ user._id.toString() }}">Show</a>
        <a href="/user/delete/{{ user._id.toString() }}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
